@*
    NOTE PER L'UTILIZZO DI JTABLE
    1) le proprietà title di "fields" devono rispettare i nomi dell'oggetto utilizzato lato server
    2) qualora non funzionasse l'intellisense verificare l'ordine di chiamata dei file .js presenti in _references.js
    3) il metodo di cancellazione si aspetta come parametro un int con lo stesso nome della colonna chiave della tabella jtable (nel nostro caso PersonId)
*@

@{
    ViewBag.Title = "jtable";
}

<h2>jtable</h2>

<div id="TabellaPersone"></div>

@section scripts
    {
<script src="@Url.Content("~/Scripts/jtable/jquery.jtable.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#TabellaPersone").jtable({
            title: 'Tabella Persone',
            actions: {
                listAction: '@Url.Action("PersonList")',
                createAction: '@Url.Action("CreatePerson")',
                updateAction: '@Url.Action("UpdatePerson")',
                deleteAction: '@Url.Action("DeletePerson")'
            },
            fields: {
                PersonId: {
                    key: true,
                    list: false
                },
                Name: {
                    title: 'Author Name',
                    width: '40%'
                },
                Age: {
                    title: 'Age',
                    width: '20%'
                },
                RecordDate: {
                    title: 'Record date',
                    width: '30%',
                    type: 'date',
                    create: false,
                    edit: false
                }
            }
        });

        $("#TabellaPersone").jtable('load');

    });
</script>
}